.item-app-container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;

}

.post-btn{
  cursor: pointer;
    width: 190px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50px;
    justify-items: center;
    background-color: white;
    margin-top: 15px;
}

.post-btn:hover{
  background-color: lightpink;
  transition: 500ms;
}

.container-post-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.error-msg {
  background-color: rgb(245, 206, 214);
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
}

