// .container{
//   display: flex;
//   flex-direction: column;
// }


.item-preview {
    text-align: center;
    background-color: white;    
    border-radius: 10px;
    min-height: 100px;
    padding: 20px;
    cursor: pointer;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-preview-long{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    min-height: 100px;
    padding: 20px;
    cursor: pointer;
    width: 400px;
    // height: 400px;
}
.text{
    margin: auto;
}
.img-container{
    width: 100%;
    position: relative;
    max-width: 300px;
    height: 46%;
}
.item-details{
    display: flex;
    gap:5px;
    // padding:30px
}
.long-text{
    color: lightgray;
    opacity: 0.7;
}
// hr {
//     color: whitesmoke;
//     width: 80%;
// }

// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: "Comic Sans MS";
//   }
//   .flex {
//     gap: 25px;
//     display: flex;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     margin-inline-start: 25px;
//     margin-inline-end: 25px;
//   }
//   .columns-container {
//     margin-top: 25px;
//     margin-bottom: 25px;
//   }
  
//   .column {
//     font-size: 0.75rem;
//     flex: 1;
//     color: white;
//     display: flex;
//     flex-direction: column;
//   }
  
//   .card {
//     font-size: 0.75rem;
//     padding: 12px 8px;
//     color: black;
//   }
//   .clean-li {
//     list-style-type: none;
//   }
//   .card-container {
//     background: white;
   
//     color: black;
//   }
//   .addCardBtn {
//     color: lightslategray;
//     margin-top: 10px;
//   }
//   p {
//     padding: 20px 0;
//   }
//   .header-a {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 1.875rem;
//     background-color: #8e6e95;
//   }
//   .header-b {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 1.875rem;
//     background-color: #39a59c;
//   }
//   .header-c {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 1.875rem;
//     background-color: #344759;
//   }
//   .header-d {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 1.875rem;
//     background-color: #e8741e;
//   }
  
//   .card-text {
//     display: flex;
//     justify-content: space-between;
//     margin-inline-start: 5px;
//     margin-inline-end: 10px;
//     align-items: baseline;
//     gap: 5px;
  
//     /* cursor: move; */
//   }
//   .card-middle-text {
//     margin-inline-start: 5px;
//     margin-inline-end: 10px;
//     gap: 5px;
//     /* cursor: move; */
//   }
  
//   .right-arrow {
//     float: right;
//   }
  
//   .left-arrow {
//     float: left;
//   }
  
//   /* @media (max-width:740px) {} */
  
//   .edit-form{
//     margin-bottom: 150px;
//     display: flex;
//   }
//   .input{
//     border-radius: 5%;
//     word-break: break-word;
//   }
//   .drag{
//     list-style-type: none;
//   }
  
//   .grabbable {
//     cursor: move; 
//     cursor: grab;
//     cursor: -moz-grab;
//     cursor: -webkit-grab;
//   }
  
//   .grabbable:active {
//     cursor: grabbing;
//     cursor: -moz-grabbing;
//     cursor: -webkit-grabbing;
//   }
  
//   .main-layout{
//     max-width: 90%;
//     display: flex;
//     justify-content: center;
//   }
  
//   .hide{
   
//       position: absolute !important;
//       top: -9999px !important;
//       left: -9999px !important;
   
//   }
  
//   .modal-wrapper {
//     position: fixed; /* Stay in place */
//     z-index: 2; /* Sit on top */
//     padding-top: 12px; /* Location of the box */
//     bottom: 50px;
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     /* overflow: auto; */
//      /* Enable scroll if needed */
//     background-color: #000000; /* Fallback color */
//     background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
     
//   }
  
//   .main-display {
//     border: 2px solid lightgrey; 
//     display: flex;
//     text-align: center;
//     flex-direction: column;
//     gap: 15px;
//     position: relative;
//     background-color: #fefefe;
//     margin: auto;
//     margin-top: 10%;
//     padding: 0;
//     border: 1px solid #888;
//     width: 30%;
//     height: 40%;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     -webkit-animation-name: animatetop;
//     -webkit-animation-duration: 0.4s;
//     animation-name: animatetop;
//     animation-duration: 0.4s;
//     /* text-align: center; */
//     /* grid-auto-columns: 1fr,1fr,1fr; */
//   }
//   @-webkit-keyframes animatetop {
//     from {
//       top: -300px;
//       opacity: 0;
//     }
//     to {
//       top: 0;
//       opacity: 1;
//     }
//   }
  
//   @keyframes animatetop {
//     from {
//       top: -300px;
//       opacity: 0;
//     }
//     to {
//       top: 0;
//       opacity: 1;
//     }
//   }
//   @media (max-width: 740px) {
//     .main-display {
//       display: flex;
//       flex-direction: column;
//     }
//   }
  
//   .inputModal{
//     margin-top: 10px;
//     width: 40%;
//     height: 30%;
//     margin: 0 30%;
//     border: 2px solid lightgrey;
//   }
//   .btnModal{
//     padding: 16px;
//     background-color: white;
//     color: black;
//     border: 2px solid lightgrey; 
//   }
//   .btnModal:hover{
//     transition: 0.3s;
//     background-color: lightslategray;
//   }
//   .btn-container{
//     display: flex;
//     justify-content: center;
//     gap: 10px;
//   }
//   .btn-update{
//     background-color: white;
//     padding: 3px;
//     color: black;
//     border: 1px solid black; 
//     margin-right: 5px;
//     margin-left: 5px;
//   }
//   .btn-update:hover{
//     transition: 0.3s;
//     background-color: lightslategray;
//   }
//   .modal-header{
//     font-size: 1.5rem;
//   }
  
  
//   .done{
//    align-items:center;
//     }
  
//     .mail{
//         justify-content: space-between;
//         font: 20px black solid;
//     margin-bottom: 10px;
//         transition: 1000ms;
//         font-family: monospace;
//         direction: ltr;
//     }
    